
@font-face{
    src: url('EdwardianScriptITC.ttf');
    font-family: 'edward';

}
* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
    min-height: 100vh;
    background: #9b99996e;
}

img {
	max-width: 100%;
}

p {
	margin-bottom: 5px;
}

h3 {
	margin: 0;
}

h5 {
	margin: 10px 0;
}

li {
	margin-bottom: 0;
}
#meal div:nth-child(1){
    display: flex;
    flex-direction: column;
}

.container h3{
    font-size: 60px;
    font-weight: 100;
    font-family: 'edward';
    color: black;
}
.container h5{
    font-size: 20px;
}
.container button{
    background: #4A89DC;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px 35px;
    font-size:17px;
}
.container  button:hover{
    color: #4A89DC;
    border: 2px solid #4A89DC;
    background:none;
}


.row:nth-child(1) .five.columns{
    width: 100%;
    background-size: cover;
    color: black;
    margin-bottom: 30px;
}
.row:nth-child(1) .five.columns p, .row:nth-child(1) .five.columns h5, .row:nth-child(1) .five.columns ul, .row:nth-child(1) .five.columns li{
    padding: 5px 40px;
}
.row:nth-child(1) .seven.columns{
    width: 100%;
    background-size: cover;
    color: black;
    margin-bottom: 30px;
    padding: 30px 10px;
}

.text-center {
    text-align: center;
    margin-bottom: 30px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

